services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  prometheus:
    image: prom/prometheus
    restart: always
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090

  api:
    build:
      context: ./src/
      dockerfile: TestAppsApi/Dockerfile
    ports:
      - 9080:8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

